div {
    width: 100%;
    align-content: center;
}

ul {
    list-style: none;
    width: 60%;
    align-items: center;
}

li {
    display: flex;
    width: 100%;
    margin: 16px auto;
    padding: 16px;
    justify-content: space-between;
}