.header {
    height: 40px;
    width: 100%;
    position: fixed;
    color: #ffffff;
    background-color: #414141;
    padding: 0;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    z-index: 90;
}

.nav {
    height: 40px;
    width: 50%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    background-color: #414141;
    box-sizing: border-box;
    display: flex;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    width: 100%;
    float: right;
}

.nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover,
.nav li a:active {
    color: #007AFF;
    height: 100%;
    display: block;
}

@media (min-width: 499px) {
    .nav li {
        flex-flow: column;
    }
}



