.menu {
    display: flex;
    flex-flow: column;
    width: 35px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.open {
    width: 90%;
    height: 2px;
    background-color: #ffffff;
}

.closed {
    width: 90%;
    height: 2px;
    background-color: #000000;
}
